@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.motp {
  width: 128px;
  height: 66px;
  margin: 5px;
  padding: 20px 30px;
  color: white;
  background-size: contain;
  font-family: 'Indie Flower', cursive;
  background-image: url(../img/Ardoise-verte.png);
}

.motpc {
  width: 128px;
  height: 66px;
  margin: 5px;
  padding: 20px 30px;
  color: white;
  background-size: contain;
  font-family: 'Indie Flower', cursive;
  background-image: url(../img/Ardoise-sombre.png);
}

.motn {
  width: 128px;
  height: 66px;
  margin: 5px;
  padding: 20px 20px;
  color: white;
  background-size: contain;
  font-family: 'Indie Flower', cursive;
  background-image: url(../img/Ardoise-verte.png);
}

.motg {
  width: 128px;
  height: 66px;
  margin: 5px;
  padding: 20px 5px;
  color: white;
  background-size: contain;
  font-family: 'Indie Flower', cursive;
  background-image: url(../img/Ardoise-verte.png);
}
